/* Calculator Style -JK */
/* Main Style */
.range-slider {
  width: 40%;
  justify-content: center;
}
/*  Account Quantity Style */
.info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 0 10px; */
  /* justify-content: space-between; */
} 
/* Info Box Span Style */
.info-box span {
  height: 20px;
  line-height: 20px;
}
/* Account Quantity Label */
.quantity-label {
  align-self: center;
  /* width: 30%; */
}
/* Quantity span - connected to slider - style */
.quantity {
  width: 2%;
  /* height: 20px; */
  /* border: 1px solid #000; */
  margin: 5% 5px;
  text-align: right;
  /* line-height: 20px; */
}
/* Quantity Account extended message style*/
.quantity-message {
  /* border: 1px solid #000; */
  width: 20%;
  /* height: 20px;
  /*line-height: 20px; */
  align-self: center;
  text-align: left;
  margin-left: 15px;

  margin-bottom: -2px;
  border-bottom: 1px solid #666;

}
/* Month quantity label */
.general {
  display: block;
  margin-bottom: 10px;
  margin-right: 80px;
}

/* Range slider in general - whole box */
.range-slider {
  width: 45%;
  text-align: center;
  border: 1px dashed #666;
  font-size: 1.4em;
}
/* Calculation elements */
.calculation-elements {
  display:flex;
  justify-content: space-around;
}
/* button calculte */
.calculate-btn {
  font-size: 20px;
  margin: 10px 0;
  text-emphasis: left;
  border-radius: 6px;
  background-color: greenyellow;
}
/* Message clculate */
.calculation-output {
  margin:13px 0;
}





