* {
    box-sizing: border-box;
    /* margin: 0 auto; */
    }
    
    body {
    margin: 0;
    padding: 0;
  }

  .wrapperBig {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }

 
  header {
    max-height: 150px;
    margin: 0 auto;
    text-align: center;
    background: #f3fbe8;
    margin-bottom: 20px;
    }

    body > div > header > img {
        max-height: 100px;
    }
      /* Navigation*/
  nav {
    /* z-index: 1; */
    font-family: 'Oswald', sans-serif;
    }



    .nav-container {
        font-family: 'Oswald', sans-serif; 
        overflow: hidden;
        position: relative;
        background: #8BC34A;
        height: auto;
        z-index: 5;
        scroll-behavior: smooth;
        overflow-y: scroll;
      }
        
      .nav-container #myLinks {
        display: none;
      }
      
      .navColumn {
        flex-direction: column;
        align-items: flex-end;
        background: #f3fbe8;
      }
     .nav-container a { 
        font-family: 'Oswald', sans-serif; 
        font-weight: bold;
        color: #212121;
        font-size: 16px;
        text-decoration: none;
        padding: 10px;
    }
    
    .nav-container a:hover {
      background-color: #ddd;
      color: black;
    }

    #navbar > a {
        background: none;
        border: none;
        color: #F1F1F1;
        font-size: 18px;
        
        position: absolute;
        right: 10px;
        top: 10px;
    }

    #navbar > img {
      width: 150px; 
      height: 80px;
      display: block;
      position: relative;
      left: -10px;
      top: -5px;
  }

  .nav-toggler {
    background-color: #4CAF50;
    color: white;
  }

  .hero {
    background: url(/food\ waste-Filip3.png) no-repeat center;
    background-size: cover; 
    width: 100%;
    /* min-height: 600px; */
    margin: 0;;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    padding: 20px 0;
}

.heroText {
  color: #212121;
  text-align: center;
  font-weight: bold;
  /* padding: 10px;  */
  /* max-width: 50%; */
  font-size: 20px;
  line-height: 40px;
  font-family: sans-serif;
}













.footer-box-mobile .footer-links {
    width: 100%;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    color: #000;
    order: 1;
    display: block;
    margin: 0 auto;
}
.footer-box-mobile .copywright {
    text-align: center;
    width: 100%;
    display: block;
}

/* Main content - mobile */
.main-content-mobile {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.main-content-mobile img{
    width: 40px;
    height: 40px;
    margin: 10px auto;
}
.main-content-mobile h4 {
    margin: 5px auto;
    font-size: 0.9em;
}
.main-content-mobile p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 0.8em;
}

