
* {
    box-sizing: border-box; 
}

.section {
    height:300px;
    background: blue;
    margin-top: 60px;
}

/* Navigation*/


.nav-container {
    
    position: fixed;
    
    margin: 0 auto;
    background: green;
    height: 50px;
    color: #F1F1F1;
    text-align: center;
    
}

.nav-container a {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;

}


