/** Whole page width */
* {
  box-sizing: border-box;
  
  margin: 0 auto;
  }
  
  body {
  margin: 0;
  padding: 0;
  }
  
  .wrapper {
  max-width: 100%;

  margin: 0 auto;
  }
  
  header {
  margin: 0 auto;
  text-align: center;
  background: #f3fbe8;
  }
  /* Navigation*/
  nav {
  z-index: 1;
  font-family: 'Oswald', sans-serif;
  }
  .nav-container {
  font-family: 'Oswald', sans-serif; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8BC34A;
  height: auto; 
  z-index: 5;
  }
  
  .nav-container a { 
  font-family: 'Oswald', sans-serif; 
  font-weight: bold;
  color: #212121;
  font-size: 24px;
  text-decoration: none;
  padding: 20px;
  }
  
  /*hero section*/
  .hero {
  background: url(Images/hero3.png) no-repeat;
  background-size: cover; 
  width: 100%;
  height: 50vh;
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  padding: 20px 0;
  }
  
  .heroTitle {
  text-transform: uppercase;
  color: #212121;
  padding: 15px;
  
  font-weight: bold;
  font-size: 45px;
  border: 1px solid #212121;
  }
  
  .heroText {
  color: #212121;
  text-align: center;
  font-weight: bold;
  background-color: rgba(248, 247, 238, 0.5);
  padding: 10px; 
  max-width: 90%;
  font-size: 20px;
  }
  .hero p{
  font-size: 20px;
  color: #757575;
  text-decoration: none;
  font-size: 32px;
  padding: 20px;
  background: transparent;
  text-shadow: 1px 2px 1px #212121;
  }
  
  .hero a {
  color: #212121;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  }
  
  .newsBox{
  height: 60vh;
  background: url("Images/newsBack.png") no-repeat center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  }
  
  .news-label, .news-input{
  display: flex;
  flex-direction: row;
  }
  
  .newsBox span{
  padding: 0 80px;
  }
  
  .wpis{
  line-height: 2.2em;
  margin-bottom: 10px;
  margin: 20px;
  width: 15vw;
  border: 1px solid #212121;;
  border-radius: 6px;
  background: #DCEDC8;
  text-align: center;
  }
  
  .newsBox a, p{
  text-decoration: none;
  color: inherit;
  padding: 5px;
  }
  .send {
  border: 1px solid #212121;
  padding: 5px;
  border-radius: 20px;
  width: 20%;
  text-align: center;
  background-color: #689F38;
  }
  .newsBox a:hover, .rodo:hover{
  color: #FFC107;
  }
  
  .news-small{
  font-size: 12px;
  }
  /*Team*/
  #team {
  margin-top: 30px;
  padding: 20px;
  background: #DCEDC8;
  }
  .team {
  display: flex;
  }
  
  .teamText {
  font-family: 'Oswald', sans-serif; 
  margin: 15px auto;
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  
  }
  .teamFigure {
  font-family: 'Open Sans', sans-serif;
  }
  
  .teamFigure figcaption {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  }
  
  /* .teamEach a {
  text-decoration: none;
  color: #212121;
  } */
  .teamEach h3 {
  width:17%;
  }
  
  .teamFigure img {
  border-radius: 50%;
  border:2px solid #757575;
  margin: 20px;
  }
  
  .main-content img {
  margin: 50px ;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  }
  
  
  /* Here is section main style - JK*/
  .main-content {
  max-width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  text-align: left;
  }
  
  /* Images for functionality -JK */
  .main-content img {
  margin: 40px auto;
  border: 2px groove #689F38;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  }
  
  /* The only text part for now - JK */
  .main-content h4 {
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif; 
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.8em;
  }
  /* Small text in functionality -JK */
  .main-content p {
  line-height: 1.1em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 0.95em;
  padding: 5px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  }
  
  /* Slideshow container */
  .slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
  height: 520px;
  width: 100%;
  background: url("Images/tlo.png");
  padding: 30px 0;
  margin-bottom: 30px;
  }
  
  /* Hide the images by default */
  .mySlides {
  display: none;
  color: #FFC107;
  font-size: 40px;
  height: 520px;
  padding: 190px;
  text-align: center;
  }
  .fridge{
  /* background: url(photo-slides/fridge/fridge.jpg) no-repeat; */
  color: #ffc107;
  justify-content: center;
  }
  .scale{
  /* background: url(photo-slides/waga/scaleFinal.jpg) no-repeat; */
  color: #ffc107;
  background-position: 56% 50%;
  }
  .recipe{
  /* background: url(photo-slides/recipe/recipeFinal.jpg) no-repeat; */
  color: #ffc107;
  background-position: 50% 50%;
  }
  .rank{
  /* background: url(photo-slides/gesler\ gordon/ramseyFinal.jpg) no-repeat; */
  color: #ffc107;
  }
  .funktion-Container{
  height: 520px;
  width: 100%;
  background: url("Images/tlo.png");
  padding: 30px 0;
  margin-bottom: 30px;
  }
  .slideContainer{
  display: flex;
  height: 50vh;
  width: 100%;
  flex-direction: row;
  animation: slide 20s ease-in-out infinite;
  }
  /* slides container */
  .funktion {
  width: 400vw;
  }
  /* single slide */
  .slide {
  align-self: center;
  width: 100vw;
  font-size: 25px;
  }
  
  